---
import Link from "@components/ui/Link.astro";
---

<div class="relative overflow-hidden">
  <div
    class="container flex overflow-hidden flex-col items-center max-w-4xl justify-center text-center py-16 lg:pb-48"
  >
    <slot name="title" />

    <slot name="intro" class="inline" />

    <div class="relative flex">
      <Link
        link={{
          uri: "/about",
          label: "About",
        }}
      />
    </div>
  </div>
</div>
